# dependencies
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# build output
.next/
out/
dist/
build/

# env files
.env
.env.local
.env.*.local
!.env.example

# misc
.DS_Store
coverage/
*.log
